<div id="spc-home">
  <div id="homepage-stats-block">
      <div class="homepage-stat-item">
          <a href="{{ data.stats.datasets.url }}" data-id="datasets-count">
              <img class="homepage-stat-icon" src="/themes/custom/spc/img/datasets-icon.png" alt="">
              <div class="homepage-stat-info">
                  <div class="homepage-stat-count">{{ data.stats.datasets.count }}</div>
                  <div class="homepage-stat-type">{{ data.stats.datasets.title }}</div>
              </div>
          </a>
          <div id="datasets-count" class="tooltip">
              {{ data.stats.datasets.description }}
          </div>
      </div>
      <div class="homepage-stat-item">
          <a href="{{ data.stats.publications.url }}" data-id="publications-count">
              <img class="homepage-stat-icon" src="/themes/custom/spc/img/book-icon.png" alt="">
              <div class="homepage-stat-info">
                  <div class="homepage-stat-count" >{{ data.stats.publications.count }}</div>
                  <div class="homepage-stat-type">{{ data.stats.publications.title }}</div>
              </div>
          </a>
          <div id="publications-count" class="tooltip">
              {{ data.stats.publications.description }}
          </div>
      </div>
      <div class="homepage-stat-item">
          <a href="{{ data.stats.organizations.url }}" data-id="organizations-count">
              <img class="homepage-stat-icon" src="/themes/custom/spc/img/stories-icon.png" alt="">
              <div class="homepage-stat-info">
                  <div class="homepage-stat-count">{{ data.stats.organizations.count }}</div>
                  <div class="homepage-stat-type">{{ data.stats.organizations.title }}</div>
              </div>
          </a>
          <div id="organizations-count" class="tooltip">
              {{ data.stats.organizations.description }}
          </div>
      </div>            
  </div>
</div>