<div id="mbd-landing">
    <h3 class="block-title">{{ data.title }}</h3>
    {% if  data.description %}
        <div class="block-description">
            {{ data.description|raw }}
        </div>
    {% endif %}
    
    <div class="globe loader">
      <iframe id="terria-map" src="{{ data.terri_map_url }}" width="100%" height="880px"></iframe>
      <div id='legend-button'>{{ 'Legend' }}</div>
      <div id="legend-popup">
        <h3 class="title legend">{{ 'Legend' }}</h3>
        <div class="metadata">
          <div class="legend line">
            <div class="value completed"></div>
            <div class="name">{{ 'Maritime boundary delimitation treaty in force and desposited with DOALOS' }}</div>
          </div>
          <div class="legend line">
            <div class="value boundary"></div>
            <div class="name">{{ 'Exclusive Economic Zone limit (200M) - adjacent to the high seas deposited to DOALOS' }}</div>
          </div>
          <div class="legend line">
            <div class="value in_progress"></div>
            <div class="name">{{ 'Maritime boundary delimitation treaty signed but not yet in force' }}</div>
          </div>
          <div class="legend line">
            <div class="value not_started"></div>
            <div class="name">{{ 'Maritime boundary to be negotiated' }}</div>
          </div>
          <div class="legend line">
            <div class="value na"></div>
            <div class="name">{{ 'Exclusive Economic Zone limit (200M) - adjacent to the high seas to be deposited to DOALOS' }}</div>
          </div>
          <div class="legend line">
            <div class="value eez"></div>
            <div class="name">{{ 'Pacific Island Country and Territories Exclusive Economic Zone (EEZ)' }}</div>
          </div>
          <div class="legend line">
            <div class="value ecs"></div>
            <div class="name">{{ 'Pacific Island Country and Territories Exclusive Continental Shelf (ECS)' }}</div>
          </div>
        </div>
      </div>
      
      <div id="eez-popup">
        <h3 class="title">{{ 'Exclusive Economic Zone' }}</h3>
        <div class="metadata">
          <div class="country line">
            <div class="name">{{ 'Country' }}</div>
            <div class="value"></div>
          </div>
          <div class="area line">
            <div class="name">{{ 'EEZ Area' }}</div>
            <div class="value"></div>
          </div>    
          <div class="treaties line">
            <div class="name">{{ 'No. of Treaties' }}</div>
            <div class="value"></div>
          </div>
          <div class="pockets line">
            <div class="name">{{ 'No. of High Seas pockets' }}</div>
            <div class="value"></div>
          </div> 
          <div class="deposited line">
            <div class="name">{{ 'EEZ Deposited' }}</div>
            <div class="value"></div>
          </div>
          <div class="date line">
            <div class="name">{{ 'Date deposited' }}</div>
            <div class="value"></div>
          </div>    
          <div class="shelf line">
            <div class="name">{{ 'Extended Continental Shelf Claims' }}</div>
            <div class="value"></div>
          </div>
          <div class="ecs line">
            <div class="name">{{ 'Name of ECS Area/s' }}</div>
            <div class="value"></div>
          </div> 
          <div class="url line">
            <div class="name">{{ 'URL Link' }}</div>
            <div class="value"></div>
          </div>            
        </div>
        <h3 class="title">{{ 'Datasets' }}</h3>    
        <div class="related-datasets"></div>
      </div>
            
      <div id="boundary-popup">
        <h3 class="title">{{ 'Treaty Line' }}</h3>
        <div class="metadata">
          <div class="country line">
            <div class="name">{{ 'Countries' }}</div>
            <div class="value">
              <div class="one"></div>
              <div class="two"></div>
            </div>
          </div>
          <div class="signed line">
            <div class="name">{{ 'Signed' }}</div>
            <div class="value"></div>
          </div>  
          <div class="year-signed line">
            <div class="name">{{ 'Year signed' }}</div>
            <div class="value"></div>
          </div>   
          <div class="force line">
            <div class="name">{{ 'Enter into Force (EIF)' }}</div>
            <div class="value"></div>
          </div>              
          <div class="date line">
            <div class="name">{{ 'Date of EIF' }}</div>
            <div class="value"></div>
          </div>
          <div class="url line">
            <div class="name">{{ 'URL Link' }}</div>
            <div class="value"></div>
          </div>             
        </div>
        <h3 class="title">{{ 'Datasets' }}</h3>    
        <div class="related-datasets"></div>
      </div>              
            
      <div id="shelf-popup">
        <h3 class="title">{{ 'Extended Continental Shelf' }}</h3>
        <div class="metadata">
          <div class="name line">
            <div class="name">{{ 'ECS Area Name' }}</div>
            <div class="value"></div>
          </div>
          <div class="joint-submission line">
            <div class="name">{{ 'Joint submission' }}</div>
            <div class="value"></div>
          </div> 
          <div class="country line">
            <div class="name">{{ 'Country(s) submitting claim' }}</div>
            <div class="value"></div>
          </div>            
          <div class="submission-done line">
            <div class="name">{{ 'Preliminary submission done' }}</div>
            <div class="value"></div>
          </div>  
          <div class="date line">
            <div class="name">{{ 'Date of Preliminary submission' }}</div>
            <div class="value"></div>
          </div>    
          <div class="submission-complied line">
            <div class="name">{{ 'Full submission complied and lodged' }}</div>
            <div class="value"></div>
          </div>   
          <div class="established-year line">
            <div class="name">{{ 'Sub-commission established - Year' }}</div>
            <div class="value"></div>
          </div> 
          <div class="defence-year line">
            <div class="name">{{ 'Submission defence – Year' }}</div>
            <div class="value"></div>
          </div>             
          <div class="established-year line">
            <div class="name">{{ 'Deposited to DOALOS' }}</div>
            <div class="value"></div>
          </div> 
            
          <div class="recommendation line">
            <div class="name">{{ 'Recommendation' }}</div>
            <div class="value"></div>
          </div>           
        </div>
        <h3 class="title">{{ 'Datasets' }}</h3>    
        <div class="related-datasets"></div>
      </div>            
            
      <div id="limit-popup">
        <h3 class="title">{{ 'High Seas Limit' }}</h3>
        <div class="metadata">
          <div class="country line">
            <div class="name">{{ 'Countries' }}</div>
            <div class="value"></div>
          </div>
          <div class="deposited line">
            <div class="name">{{ 'Deposited to DOALOS' }}</div>
            <div class="value"></div>
          </div>    
          <div class="date line">
            <div class="name">{{ 'Date Deposited' }}</div>
            <div class="value"></div>
          </div>
          <div class="url line">
            <div class="name">{{ 'URL Link' }}</div>
            <div class="value"></div>
          </div>             
        </div>
        <h3 class="title">{{ 'Datasets' }}</h3>    
        <div class="related-datasets"></div>
      </div>            
            
    </div>

    <h3 class="collapsed" data-id="maritime-zones">1.&nbsp{{ 'Pathway to maritime zones'|t }}</h3>
    <div id="maritime-zones" class="maritime-zones">
        {% if data.maritime_zones_file %}
            <div class="download">
                <a href="{{ data.maritime_zones_file }}">{{ 'Download PDF file' }}</a>
            </div>
        {% endif %}
        <div class="pathway-steps">
        {% for key, zone_step in data.maritime_zones %}
            <div class="step">
                <div class="step-icon {% if key == 5 %} step-six {% endif %}">
                    <img src="{{ zone_step.icon }}">
                    {% if key == 5 %}
                        <div class="tooltip-icon">
                            {{ 'i' }}  
                            <div class="tooltip">
                                <p><b>{{ 'Tooltip title' }}</b></p>
                                <p>{{ 'Tooltip text' }}</p>
                            </div>
                        </div>
                    {% endif %}  
                </div>
                <div class="step-state ">
                    <div class="state group">
                        {% if zone_step.state.completed.percent %}
                            <div style="width: {{ zone_step.state.completed.percent }}%" class="level completed">
                                <div class="tooltip">{{ 'Completed' }} <b>{{ zone_step.state.completed.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if zone_step.state.in_progress.percent %}
                            <div style="width: {{ zone_step.state.in_progress.percent }}%" class="level in_progress">
                                <div class="tooltip">{{ 'In progress' }} <b>{{ zone_step.state.in_progress.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if zone_step.state.not_started.percent %}
                            <div style="width: {{ zone_step.state.not_started.percent }}%" class="level not_started">
                                <div class="tooltip">{{ 'Not started' }} <b>{{ zone_step.state.not_started.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if zone_step.state.na.percent %}
                            <div style="width: {{ zone_step.state.na.percent }}%" class="level na">
                                <div class="tooltip">{{ 'NA' }} <b>{{ zone_step.state.na.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}                        
                    </div>
                </div>
                <div class="step-name">{{ zone_step.name|raw }}</div>
            </div>
        {% endfor %}
        </div>
    </div> 
    
    <h3 class="collapsed" data-id="boundaries-treaty" >2.&nbsp{{ 'Pathway to Maritime Boundary Treaty'|t }}</h3>
    <div id="boundaries-treaty" class="boundaries-treaty maritime-zones">
        {% if data.boundary_treaty_file %}
            <div class="download">
                <a href="{{ data.boundary_treaty_file }}">{{ 'Download PDF file' }}</a>
            </div>
        {% endif %}
        <div class="pathway-steps">
        {% for key, treaty_step in data.boundaries_treaty %}
            <div class="step">
                <div class="step-icon {% if key == 5 %} step-six {% endif %}">
                    <img src="{{ treaty_step.icon }}">
                    {% if key == 5 %}
                        <div class="tooltip-icon">
                            {{ 'i' }}  
                            <div class="tooltip">
                                <p><b>{{ 'Tooltip title' }}</b></p>
                                <p>{{ 'Tooltip text' }}</p>
                            </div>
                        </div>
                    {% endif %}  
                </div>
                <div class="step-state ">
                    <div class="state group">
                        {% if treaty_step.state.completed.percent %}
                            <div style="width: {{ treaty_step.state.completed.percent }}%" class="level completed">
                                <div class="tooltip">{{ 'Completed' }} <b>{{ treaty_step.state.completed.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if treaty_step.state.in_progress.percent %}
                            <div style="width: {{ treaty_step.state.in_progress.percent }}%" class="level in_progress">
                                <div class="tooltip">{{ 'In progress' }} <b>{{ treaty_step.state.in_progress.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if treaty_step.state.not_started.percent %}
                            <div style="width: {{ treaty_step.state.not_started.percent }}%" class="level not_started">
                                <div class="tooltip">{{ 'Not started' }} <b>{{ treaty_step.state.not_started.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}
                        {% if treaty_step.state.na.percent %}
                            <div style="width: {{ treaty_step.state.na.percent }}%" class="level na">
                                <div class="tooltip">{{ 'NA' }} <b>{{ treaty_step.state.na.count }}</b> {{ 'countries' }}</div>
                            </div>
                        {% endif %}                        
                    </div>
                </div>
                <div class="step-name">{{ treaty_step.name|raw }}</div>
            </div>
        {% endfor %}
        </div>
        <div class="legend">
            <div class="level ">
                <div class="state completed"></div>
                <div class="tooltip">{{ 'Completed' }}</div>
            </div>

            <div class="level">
                <div class="state in_progress"></div>
                <div class="tooltip">{{ 'In progress' }}</div>
            </div>

            <div class="level">
                <div class="state not_started"></div>
                <div class="tooltip">{{ 'Not started' }}</div>
            </div>

            <div class="level">
                <div class="state na"></div>
                <div class="tooltip">{{ 'NA' }}</div>
            </div>
        </div>        
    </div>
            
    <h3 class="collapsed" data-id="continental-shelf">3.&nbsp{{ 'Extended Continental Shelf Pathway'|t }}</h3>
    <div id="continental-shelf" class="continental-shelf">
        {% if data.shelf_treaty_file %}
            <div class="download">
                <a href="{{ data.shelf_treaty_file }}">{{ 'Download PDF file' }}</a>
            </div>
        {% endif %}
        {% if data.shelf_treaty %}
            <div class="treaty-steps">
                {% for step in data.shelf_treaty %}
                    <div class="step">
                        <div class="step-icon">
                            <img src="{{ step.icon }}"> 
                        </div>
                        <div class="step-state ">
                            <div class="state group">
                                {% if step.state.completed.percent %}
                                    <div style="width: {{ step.state.completed.percent }}%" class="level completed">
                                        <div class="tooltip">{{ 'Completed' }} <b>{{ step.state.completed.count }}</b> {{ 'countries' }}</div>
                                    </div>
                                {% endif %}
                                {% if step.state.in_progress.percent %}
                                    <div style="width: {{ step.state.in_progress.percent }}%" class="level in_progress">
                                        <div class="tooltip">{{ 'In progress' }} <b>{{ step.state.in_progress.count }}</b> {{ 'countries' }}</div>
                                    </div>
                                {% endif %}
                                {% if step.state.not_started.percent %}
                                    <div style="width: {{ step.state.not_started.percent }}%" class="level not_started">
                                        <div class="tooltip">{{ 'Not started' }} <b>{{ step.state.not_started.count }}</b> {{ 'countries' }}</div>
                                    </div>
                                {% endif %}
                                {% if step.state.na.percent %}
                                    <div style="width: {{ step.state.na.percent }}%" class="level na">
                                        <div class="tooltip">{{ 'NA' }} <b>{{ step.state.na.count }}</b> {{ 'countries' }}</div>
                                    </div>
                                {% endif %}                       
                            </div>
                        </div>
                        <div class="step-name">{{ step.name }}</div>
                    </div>
                {% endfor %}    
            </div>
        {% endif %}    
    </div>            
    
    {% if  data.countries %}
        <h3 class="block-title">{{ 'Pacific Island Countries'|t }}</h3>
        <div id="countries-list" class="clearfix">
            {% for country in data.countries %}
                <a class="one-country {{ country.name }}" href="{{ country.url }}" title="{{ country.name }}">
                    <p class="img">
                        <img src="{{ country.flag }}" alt="{{ country.name }}">
                    </p>
                    <span>{{ country.name }}</span>
                </a>            
            {% endfor %}
        </div>
    {% endif %}
    
    {% if data.partners %}
        <h3 class="block-title">{{ 'Partners'|t }}</h3>
        <div id="partners-list" class="block-shadow clearfix">
            {% for partner in data.partners %}
                <a class="partner-item" href="{{ partner.url }}" target="_blank" title="{{ partner.name }}">
                    <p class="img">
                        <img src="{{ partner.icon }}" alt="{{ partner.name }}">
                    </p>
                    <div class="tooltip">{{ partner.name }}</div>
                </a>            
            {% endfor %}
        </div>
    {% endif %}    
    
</div>