{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes.addClass('spc-country-data clearfix') }}>
    {% if datasets.count > 0 %}
        {% set count = 0 %}
        {% for key, dataset in datasets.list %}
        {% set count = key %}    
        <div data-key="{{ key }}" class="dataset {% if key > 5 %} hidden {% endif %}">
            <div class="dataset-org">
                <div class="tooltip">{{ dataset.organization.title }}</div>
                <a href="{{ dataset.organization.spc_base_url }}" target="_blank" title="{{ dataset.organization.title }}">
                    <img src="{{ dataset.organization.image_url }}" alt="{{ dataset.organization.title }}">
                </a>
            </div>
            <div class="dataset-title">
                <a class="title" href="{{ dataset.url }}" target="_blank" title="{{ dataset.title }}">{{ dataset.title }}</a>
            </div>
            <div class="dataset-tags">
                {% for tag in dataset.tags %}
                    <a href="{{ tag.url }}" class="tag-item" title="{{ tag.name }}">{{ tag.name }}</a>
                {% endfor %}    
            </div>
            <div class="metadata clearfix">
                <div class="dataset-date {#left#}">
                    {{ 'Release date:'|t }} 
                    <a href="{{ dataset.url }}" target="_blank" title="{{ dataset.title }}">
                        <span class="date">{{ dataset.date }}</span>
                    </a>
                </div>
                <div class="dataset-formats {#right#}">
                    <span>{{ 'File Format:'|t }}</span>
                    {% if dataset.resources %}
                    {% for resource in dataset.resources %}
                        <a href="{{ dataset.url }}" target="_blank" aria-label="{{ resource.format|lower  }}" title="{{ dataset.title }}">
                            <div class="res-formats res-format-{{ resource.format|lower  }}"></div>
                        </a>
                    {% endfor %}
                    {% else %}
                        <span>{{ 'This dataset has no data'|t }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if count > 5 %}
            <div class="view-all"><a href="#" id="view-all" title="{{ 'view-all'|t }}">{{ 'Show all'|t }}</a></div>
        {% endif %}
        <p class="empty-search hidden">{{ 'There are no policies available for your selection. Please try later.'|t }}</p>
    {% else %}
        <p>{{ 'There are no policies available for your selection. Please try later.'|t }}</p>
    {% endif %}
</div>

{% if datasets.timelineChart %}
    <h3 class="block-label">{{ 'Programmatic Planning'|t }}</h3>
    <div class="timeline-block">
        <div id="timeline-svg" class="country-data"></div>
        {% if data.chart|length > 9 %}
        <a href="#" class="show-full" title="show all plans">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>
{% endif %}
    
{% if content.description %}
    <div class="ministries-departments">
        {{ content.description }}
    </div>
{% endif %}