{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  <div class="login-register-tabs">
      <div class="login tab active">
        <a href="/user/login">{{ 'Login'|t }}</a>
      </div>
      <div class="register tab">
        <a href="/user/register">{{ 'Create account'|t }}</a>
      </div>
  </div>  
  <div class="spc-user-login-form-wrapper">    
    {{ children }}
    <ul class="spc-user-form-links">
      <li class="reset-link first last">
        <a href="/user/password">{{ 'Forgot password?'|t }}</a></li>
    </ul>    
  </div>
</form>
