<div class="entity entity-bean bean-home-banner clearfix" about="/block/home-banner" typeof="">
    <div class="banner-image">
        
        <div class="left-label">
            <strong>{{ 'MANA' }}</strong>&nbsp<span>{{ 'Dashboard' }}</span>
        </div>
        
        {% if data.terms %}
            <div class="breadcrumbs">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/dashboard/maritime-boundaries" title="{{ 'PMB Dashboard'|t }}">{{ 'PMB Dashboard'|t }}</a>
                    </div>
                    <div class="delimiter">&gt;</div>
                    <div class="inline dropdown">
                        <a href="#" title="{{ data.term }}">{{ 'Country:' }}&nbsp{{ data.term }}</a>
                        <div class="breadcrumb-subitems">
                            <div class="subitems-wrapper">
                                {% for term in data.terms %}
                                    <a href="{{ term.url }}" title="{{ term.name }}">{{ term.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if data.breads %}
            <div class="breadcrumbs bread">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/" title="{{ 'Home'|t }}">{{ 'Home'|t }}</a>
                    </div>
                    {% for breadcrumb in data.breads %}
                        <div class="delimiter">&gt;</div>
                        <div class="inline last">
                            {% if breadcrumb.url %}
                                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
                            {% else %}
                                <span>{{ breadcrumb.name }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="spc-home-banner-block">
            <div class="banner-title">
                <div class="field field-type-text-long">
                    <h1>{{ data.title|raw }}</h1>
                    {% if data.term and data.displaySubtitle %}
                        <h2>{{ data.term }}</h2>
                    {% endif %}
                </div>
                
                {% if data.displaySubtitle %}
                    <div class="field field-type-text-long">
                        <h3>{{ data.subtitle|raw }}</h3>
                    </div>
                {% endif %}
                
                {% if data.displaySearch %}
                    <div class="search">
                        <div id="spc-home-banner-search">
                            <form action="/" method="post" id="ckan-search-form" class="global-search-form" accept-charset="UTF-8" _lpchecked="1">
                                <div role="application">
                                    <input placeholder="Search" type="text" id="ckan-search" size="30" maxlength="128">
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

{% if data.dsps %}
<div class="panel-pane pane-views pane-dashboard-for-sdp {{ data.isdsp }}">
    <div class="goals-navigation">
        <div class="dropdown">
            <div class="button">
                <img class="goals-logo" src="https://pacificdata.org/sites/default/files/SDGs%20in%20the%20Pacific%20230x230.png">
            </div>
            <ul class="dropdown-menu hidden" aria-labelledby="goals-navigation">
                {% for dsp in data.dsps %}
                    <li><a href="{{ dsp.url }}">{{ dsp.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}