<div class="entity entity-bean bean-home-banner clearfix" about="/block/home-banner" typeof="">
    <div class="banner-image">
        
        <div class="left-label" style="top: 80px">
            <strong>{{ 'MANA' }}</strong>&nbsp<span>{{ 'Dashboard' }}</span>
        </div>
        
        {% if data.terms %}
            <div class="breadcrumbs" style="margin-top: 100px">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/dashboard/health-dashboard" title="{{ 'MANA Dashboard'|t }}">{{ 'MANA Dashboard'|t }}</a>
                    </div>
                    <div class="delimiter">&gt;</div>
                    <div class="inline dropdown">
                        <a href="#" title="{{ data.term }}">{{ data.term }}</a>
                        <div class="breadcrumb-subitems">
                            <div class="subitems-wrapper">
                                {% for term in data.terms %}
                                    <a href="{{ term.url }}" title="{{ term.name }}">{{ term.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if data.subterms %}
                      <div class="delimiter">&gt;</div>
                      <div class="inline dropdown">
                          <a href="#" title="{{ data.subterm }}">{{ data.subterm }}</a>
                          <div class="breadcrumb-subitems">
                              <div class="subitems-wrapper">
                                  {% for subterm in data.subterms %}
                                      <a href="{{ subterm.url }}" title="{{ subterm.name }}">{{ subterm.name }}</a>
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                    {% endif %}  
                </div>
            </div>
        {% endif %}
        
        {% if data.breads %}
            <div class="breadcrumbs bread">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/" title="{{ 'Home'|t }}">{{ 'Home'|t }}</a>
                    </div>
                    {% for breadcrumb in data.breads %}
                        <div class="delimiter">&gt;</div>
                        <div class="inline last">
                            {% if breadcrumb.url %}
                                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
                            {% else %}
                                <span>{{ breadcrumb.name }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="spc-home-banner-block">
            <div class="banner-title">
                <div class="field field-type-text-long">
                    <h1>{{ data.title|raw }}</h1>
                </div>
                
                {% if data.displaySubtitle %}
                    <div class="field field-type-text-long">
                        <h3>{{ data.subtitle|raw }}</h3>
                    </div>
                {% endif %}
                
                <div id="spc-home-banner-search">
                  <form action="/" method="post" id="ckan-search-form" class="health-dashboard-search-form" accept-charset="UTF-8">
                    <div>
                      <input placeholder="Search" type="text" id="health-dashboard-search" name="term" size="30" maxlength="128"
                      aria-label="Search">
                      <div class="search-sugestion">
                        <div class="sug-wrapper">

                          <div class="no-results">
                              <p>{{ 'No results were found.' }}</p>
                          </div>  

                          <div class="sug-block sug-categories">
                            <p class="lable">{{ 'Categories' }}</p>  
                            <ul class="sug-list"></ul>
                          </div> 

                          <div class="sug-block item sug-indicators">
                            <p class="lable">{{ 'Indicators' }}</p>  
                            <ul class="sug-list"></ul>
                          </div> 

                          <div class="sug-block sug-countries">
                            <p class="lable">{{ 'Countries' }}</p>  
                            <ul class="sug-list"></ul>
                          </div>

                        </div>
                      </div>
                    </div>
                  </form>          
                </div>
                
            </div>
        </div>
    </div>
</div>