<div class="entity entity-bean bean-home-banner clearfix" about="/block/home-banner" typeof="">
    <div class="banner-image"
    {% if data.banner_image_url and data.maximum_header %}
        style="background-image: linear-gradient(135deg, rgba(0, 198, 236, 0.85) 0%, rgba(0, 3, 102, 0.95) 80%), url({{ data.banner_image_url }});"
    {% endif %}
    >
        {% if data.breads %}
            <div class="breadcrumbs bread">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/" title="{{ 'Home'|t }}">{{ 'Home'|t }}</a>
                    </div>
                    {% for breadcrumb in data.breads %}
                        <div class="delimiter">&gt;</div>
                        <div class="inline last">
                            {% if breadcrumb.url %}
                                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
                            {% else %}
                                <span>{{ breadcrumb.name }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}      
        <div class="spc-home-banner-block">
            <div class="banner-title">
                <div class="field field-type-text-long">
                    {% if data.base_page_title %}
                        <h1>{{ data.base_page_title|raw }}</h1>
                    {% else %}
                        <h1>{{ data.title|raw }}</h1>
                    {% endif %}

                    {% if data.term %}
                        <h2>{{ data.term }}</h2>
                    {% endif %}
                </div>
                <div class="field field-type-text-long">
                    <p>{{ data.subtitle}}</p>
                </div>
                <div class="search">
                    <div id="spc-home-banner-search">
                        {{ data.search_form }}
                    </div>
                </div>
                {% if data.topics %}    
                  <div class="topics-home">
                    <div class="topics-list">
                    {% for topic in data.topics %}
                      <div class="topic-item">
                        <a href="{{ topic.url }}" title="{{ topic.title }}">
                          <div class="field-fa-icon">
                            <i class="{{ topic.icon }}"></i>
                          </div>  
                        </a>
                        <h2>
                          <a href="{{ topic.url }}">{{ topic.title }}</a>
                        </h2>
                      </div>
                    {% endfor %}
                    </div>
                  </div> 
                {% endif %}  
            </div>
        </div>
    </div>
</div>
