<div class="entity entity-bean bean-home-banner clearfix" about="/block/home-banner" typeof="">
    <div class="banner-image">
        {% if data.breads %}
            <div class="breadcrumbs bread">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/" title="{{ 'Home'|t }}">{{ 'Home'|t }}</a>
                    </div>
                    {% for breadcrumb in data.breads %}
                        <div class="delimiter">&gt;</div>
                        <div class="inline last">
                            {% if breadcrumb.url %}
                                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
                            {% else %}
                                <span>{{ breadcrumb.name }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}      
        <div class="spc-home-banner-block">
            <div class="banner-title">
                <div class="field field-type-text-long">
                    <h1>{{ data.title|raw }}</h1>
                    {% if data.term %}
                        <h2>{{ data.term }}</h2>
                    {% endif %}
                </div>
                <div class="field field-type-text-long">
                    <p>{{ data.subtitle}}</p>
                </div>
                <div class="search">
                    <div id="spc-home-banner-search">
                        {{ data.search_form }}
                    </div>
                </div>
                <div class="topics-home">
                  <div class="topics-list">
                  {% for topic in data.topics %}
                    <div class="topic-item">
                      <a href="{{ topic.url }}">
                        <div class="field-fa-icon">
                          <i class="{{ topic.icon }}"></i>
                        </div>  
                      </a>
                      <h4>
                        <a href="{{ topic.url }}">{{ topic.title }}</a>
                      </h4>
                    </div>
                  {% endfor %}
                  </div>
                </div>    
            </div>
        </div>
    </div>
</div>
