<div class="entity entity-bean bean-home-banner clearfix" about="/block/home-banner" typeof="">
    <div class="banner-image"
    {% if data.banner_image_url and data.maximum_header %}
        style="background-image: linear-gradient(135deg, rgba(0, 198, 236, 0.85) 0%, rgba(0, 3, 102, 0.95) 80%), url({{ data.banner_image_url }});"
    {% endif %}
    >
        {% if data.breads %}
            <div class="breadcrumbs bread">
                <div class="breadcrumb">
                    <div class="inline first">
                        <a href="/" title="{{ 'Home'|t }}">{{ 'Home'|t }}</a>
                    </div>
                    {% for breadcrumb in data.breads %}
                        <div class="delimiter">&gt;</div>
                        <div class="inline last">
                            {% if breadcrumb.url %}
                                <a href="{{ breadcrumb.url }}" title="{{ breadcrumb.name }}">{{ breadcrumb.name }}</a>
                            {% else %}
                                <span>{{ breadcrumb.name }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="spc-home-banner-block">
            <div class="banner-title">
                <div class="field field-type-text-long">
                    {% if data.base_page_title %}
                        <h1>{{ data.base_page_title|raw }}</h1>
                    {% else %}
                        <h1>{{ data.title|raw }}</h1>
                    {% endif %}

                    {% if data.term %}
                        <h2>{{ data.term }}</h2>
                    {% endif %}
                </div>
                <div class="field field-type-text-long">
                    <p>{{ data.subtitle}}</p>
                </div>
                <div class="search">
                    <div id="spc-home-banner-search">
                      {% if data.search_form %}
                        {{ data.search_form }}
                      {% elseif data.dsps %}  
                        <div class="search">
                            <div id="spc-home-banner-search">
                                <form action="/" method="post" id="ckan-search-form" class="global-search-form" accept-charset="UTF-8" _lpchecked="1">
                                    <div role="application">
                                        <input placeholder="Search" type="text" id="ckan-search" size="30" maxlength="128">
                                    </div>
                                </form>
                            </div>
                        </div>
                      {% endif %}  
                    </div>
                </div>
                {% if data.topics %}
                  <div class="topics-home">
                    <div class="topics-list">
                    {% for topic in data.topics %}
                      <div class="topic-item">
                        <a href="{{ topic.url }}" title="{{ topic.title }}">
                          <div class="field-fa-icon">
                            <i class="{{ topic.icon }}"></i>
                          </div>
                        </a>
                        <h4>
                          <a href="{{ topic.url }}">{{ topic.title }}</a>
                        </h4>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
            
{% if data.dsps %}
  <div class="panel-pane pane-views pane-dashboard-for-sdp {{ data.isdsp }}">
      <div class="goals-navigation">
          <div class="dropdown">
              <div class="button">
                  <img class="goals-logo" src="https://pacificdata.org/sites/default/files/SDGs%20in%20the%20Pacific%20230x230.png">
              </div>
              <ul class="dropdown-menu hidden" aria-labelledby="goals-navigation">
                  {% for dsp in data.dsps %}
                      <li><a href="{{ dsp.url }}">{{ dsp.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      </div>
  </div>
{% endif %}
